# This file defines the image's dependencies
Flask
Flask-RESTful
google-cloud-datastore
google-cloud-storage
pyzipcode3
geopy
flask_restful
geocoder
Jinja2
Werkzeug
flask_admin
sqlalchemy
stripe
flask_marshmallow
flask-login
flask_session
flask_sqlalchemy
marshmallow-sqlalchemy
flask_wtf